.publicacoes{
    margin-top: 128px;
    text-align: center;
    .container{
        h1{
            color: rgba(29, 6, 5, 0.9);
            font-size: 32px;
            font-family: 'Lilita One';
            text-transform: uppercase;
        }
        p{
            font-size: 16px;
            color: rgba(29, 6, 5, 0.69);
        }
    }

    .publicacoes-bg{
        width: 100%;
        height: 218px;
        background-image: url(/banner-publicacoes.png);
        background-position: center;
        margin-top: 16px;
        display: flex;
        flex-direction: row-reverse;
        .gradiente-left{
            width: 100%;
            height: 218px;
            background: linear-gradient(270.22deg, #21201B 1.41%, rgba(33, 32, 27, 0) 30.38%);
        }
        .gradiente-rigth{
            width: 100%;
            height: 218px;
            background: linear-gradient(270.22deg, #21201B 1.41%, rgba(33, 32, 27, 0) 30.38%);
            transform: rotate(-180deg);
        }
    }

    .text-bg{
        margin-top: -1px;
        width: 100%;
        height: 50px;
        background-image: url(/text-bg.png);
    }


}