.mapa{
    text-align: center;
    margin-top: 64px;
    color: rgba(29, 6, 5, 0.9);

    h1{
        font-family: 'Lilita One';
        font-size: 32px;
        text-transform: uppercase;
    }

    p{
        height: 23px;
    }

    iframe{
        margin-top: 32px;
        border: none;
    }
}